<!DOCTYPE html>
<html>
<head>
	<title>Lab - Multimedia Programming 2563 ITKMITL</title>
	<link rel=stylesheet href="../src/reset.css">
	<link rel=stylesheet href="lab.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body class="paper">
	<div id="app">
		<input type="number" v-model="n">
		<div class="space"></div>
		<h3>สูตรคูณแม่  {{n}}</h3>
		<h4
		v-for="i in 12">
		{{n}} x {{i}} = {{multiply(i)}}
		</h4>
		<h4>
			Sum = {{sos()}}
		</h4>
	
	</div>

	<script>
		let app = new Vue({
			el: '#app',
			data: {
				n: 2,
			
			},
			methods: {
				multiply: function(x){
					var mul = this.n*x
					return mul
				}, 
				sos: function(){
					var muls = 0
					var i
					for (let i = 1; i <= 12; i++) {
						muls += this.n*i
					}
					return muls
				}
			}
		})
	</script>
</body>
</html>